<ul class="list-unstyled">
    <li class="media mb-3">
        <div class="media-body">
            <div>
                <% likes.each do |like| %>
                    <p class"mb-0"><%= like.micropost.content %></p>    
                <% end %>
            </div>
        </div>
    </li>
</ul>


